@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GT Walsheim Pro;
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimProRegular"),
    url("/fonts/GTWalsheimProRegular.woff2") format("woff2"),
    url("/fonts/GTWalsheimProRegular.woff") format("woff"),
    url("/fonts/GTWalsheimProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GT Walsheim Pro;
  src: local("GT Walsheim Pro Medium"), local("GTWalsheimProMedium"),
    url("/fonts/GTWalsheimProMedium.woff2") format("woff2"),
    url("/fonts/GTWalsheimProMedium.woff") format("woff"),
    url("/fonts/GTWalsheimProMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: GT Walsheim Pro;
  src: local("GT Walsheim Pro Bold"), local("GTWalsheimProBold"),
    url("/fonts/GTWalsheimProBold.woff2") format("woff2"),
    url("/fonts/GTWalsheimProBold.woff") format("woff"),
    url("/fonts/GTWalsheimProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    position: relative;
    font-family: GT Walsheim Pro, sans-serif;
  }
}
